.Header {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d121c;
}

.Button {
    border: none;
    font-size: 30px;
    color: azure;
    background-color: #0d121c;
    height: 50px;
}