Header {
    width: 100vw;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Button {
    border: none;
    font-size: 30px;
    color: azure;
    background-color: #000e29;
    height: 50px;
}