@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    user-select: none; 
}

.Space {
    width: 100%;
}
    
.layout-content {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.message-window {
    border: 1px solid gray;
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    overflow-y: auto;
    min-height: calc(90vh - 91px);
    max-height: calc(60vh - 30px);
}

.self-message {
    display: flex;
    justify-content: start;
}


.text-field-wrapper {
    margin-top: 30px;
    display: flex;
}
